language: node_js
node_js:
  - 6
before_install:
  - "sudo apt-get update && sudo apt-get install -y libcairo2-dev libjpeg8-dev libgif-dev optipng pngcrush pngquant libpango1.0-dev graphicsmagick libjpeg-turbo-progs inkscape && npm install -g npm && npm cache clean"
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-greenfield' ]; then cd .. && eval "mv $currentfolder generator-greenfield" && cd generator-greenfield; fi

script: "npm run-script travis"

#after_success: "<coverage/lcov.info ./node_modules/coveralls/bin/coveralls.js"
